<h3>Admin Credentials</h3>
<button type="button" style="margin-left:800px;" class="block"(click)="opensweetalert()">Delete All</button>
<table>
    <tr>
        <th>Admin Credential ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email ID</th>
        <th>Actions</th>
        <th>Select</th>

    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Maria Anders</td>
        <td>Maria_Anders@gmail.com</td>
        <td><button routerLink="../view">View</button><button routerLink="../edit">Edit</button><button >Delete</button></td>
        <td><input type="checkbox"></td>
      </tr>
    </table>
  