<body>
    <h3>Admin Credential Edit</h3>
    
    <div class="container">
      <form >
        <label for="admin_id">Admin Privilege ID</label>
        <input type="text" id="admin_id" name="admin_id"><!-- should be hidden -->

        <label for="ap_name">Admin Privilege Name</label><!-- read only -->
        <input type="text" id="ap_name" name="ap_name">
    
        <label for="description">Admin Privilege Description</label>
        <textarea id="ap_desc" name="ap_desc" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
